.presentation_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EAE2B7;
    height: auto;
    min-height: 613px;
}

.menu_presentation{
    margin-top: 25px;
    position: absolute;
    top: 170px;
    width: 50%;
    z-index: 1;
}

.menu_presentation ul{
    gap: 50px;
    display: flex;
}

.menu_presentation a{
    padding: 10px 15px;
    color: white;
    border-radius: 25px;
    background-color: #191924;
}

.menu_presentation ul li.active a {
    color: #ffbf00;
  }

.card{
    display: none;    
}

.card_content{
    display: flex;
    align-items: center;
    gap: 50px;
}

.card.active {
    display: block;
    height: 100%;
    color: black;
    width: 100%;
    border-radius: 40px;
  }

.card h2{
    display: none;
}

.personnelle h2{
    justify-content: flex-end;
}

.card_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    line-height: 20px;
}

.description_texte{
    width: 60%;
    padding: 0px 25px;
    text-align: center;
}

.description_texte h3{
    animation: opacity 1s ease-in-out;
    justify-content: center;
}

.description_texte p {
    animation: opacity 5s ease-in-out;
}

@keyframes opacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

.description_aside{
    padding: 0px 25px 25px  25px;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description_aside ul{
    display: flex;
    padding: 10px;
    margin: 40px 0 20px;
    width: 95%;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.description_aside p{
    text-align: center;
}


.description_texte ul{
    width: 800px;
    position: relative;
    right: 310px;
}

.list.inactive{
    background-color: #191924;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    padding: 10px;
}

.list.click{
    width: 40%;
    background-color: #cac291;  
    border-radius: 25px;
    height: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.photo.formation{
    height: 380px;
    width: 350px;
    transform: rotateZ(7deg);
    border-radius: 40px 40px 40px 40px;
}

#card3 .description_texte{
    padding: 20px 20px 20px 100px;
}

.photo{
    height: 200px;
    z-index: 0;
    width: 300px;
    object-fit: cover;
    border-radius: 40px 0px;
}

.photo.personnelle{
    object-fit: cover;
    height: 70.3%;
    position: absolute;
    width: 35%;
    right: 0px;
    bottom: 100px;
}

.photo.entreprise{
    position: absolute;
    bottom: -7%;
    left: -17%;
    height: 600px;
    width: auto;
    border-radius: 50%;
}

#card2 .card.active{
    display: flex;
    justify-content: flex-end;
}

#card2 .card_container{
    align-items: flex-end;
}

#card2 .card_content{
    justify-content: flex-end;
    margin-top: 80px;
}

#card2 .description_texte{
    width: 55%;
}

#card2 .description_aside{
    justify-content: flex-end;
    width: 55%;
}
/*     Tablette           */
@media screen and (min-width: 768px) and (max-width: 1023px){
    .presentation_page{
        min-height: 622px;
        justify-content: center;
    }
    .photo.formation{
        width: 200px;
        height: 250px;
    }
    .photo.entreprise{
        left: -40%;
    }
    .card.active{
        margin-top: 120px;
    }
    .card_content{
        gap: 20px;
    }
    #card3 .description_texte{
        padding: 0px 20px 20px 50px;
    }
    #card2 .card_content{
        margin: 0;
    }
}
/*         Téléphone           */
@media screen and (min-width: 320px) and (max-width: 767px){
    .photo.personnelle{
        position: initial;
        width: 200px;
    }
    .photo.formation{
        height: auto;
        width: 90%;
    }
    .photo.entreprise{
        display: none;
    }
    .card_content{
        flex-direction: column ;
    }
    .description_texte{
        width: 95%;
        padding-top: 50px;
        padding: 0;
    }
    .menu_presentation{
        width: 100%;
    }
    .menu_presentation ul{
        gap: 10px;
        padding: 0;
        margin: 0;
    }
    .menu_presentation a{
        padding: 10px;
    }
    #card1 .card_content{
        flex-direction: column-reverse;
    }
    #card2 .card_content {
        margin: 0;
    }
    #card2 .description_aside{
        width: 100%;
        padding: 0;
    }
    .description_aside ul{
        flex-direction: column;
        margin-top: 0;
    }
    .list.click{
        width: 80%;
        height: 100%;
    }
    #card2 .description_aside p{
        width: 90%;
    }
    #card3 .description_texte {
        padding: 0;
    }
    .card.active{
        margin-top: 100px;
    }
}
@media screen and (min-width: 1441px) and (max-width: 2000px){
    .presentation{
        height: 100%;
    }

    .presentation_page{
        min-height: 74.1%;
    }

    .card.active{
        margin : 0px;
    }

    .description_aside{
        width: 70%;
    }

    .photo.personnelle{
        object-fit: contain;
    }

    .photo.entreprise{
        left: -6.5%;
        bottom: 10px;
    }

    #card2 .description_texte{
        width: 60%;
        text-align: start;
    }
    #card2 .description_aside{
        width: 60%;
        align-items: start;
    }
}

@media screen and (min-width: 1900px) and (max-width: 2600px){
    #card2 .description_texte{
        width: 90%;
        text-align: start;
    }
    .card_container{
        height: 666px;
    }
    #description_title_entreprise{
        justify-content: flex-start;
    }


    .photo.entreprise{
       bottom: 4.8%;
    }

    #card2 .card_content{
        margin: 0;
    }

    #card2 .description_aside{
        width: 70%;
        align-items: start;
    }
}
